
#title{
	position: absolute;
	left:10px;
	top:5px;
	font-size:150%;
}

.info{
width:60px;
float:left
}
#myicon{
	width:60px;
	height:60px;
}
.friendicon{
	width:60px;
	height:60px;
	float: left;

}
.friendcontent{
	float:none;
	height:90px;
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
	padding-bottom: 10%;
	padding-top: 15px;
	width: 99%;
	padding-right: 20%;


}
img {
    border-radius: 50%;
}

.c_img{
	float:left;
	border-radius: 50%;
}
ul li,ol li {
list-style-position: outside;
margin-top: 5px;
}
#onfr{
	float:left;

#allfr{
	float:none;
}
#friendspanel{
	overflow:auto;
	position: left;
	padding-top: 10%;


}
#credits{
	text-align: right;
	margin-right:5px;
}
a{
	color:#FFF;
}
a:hover{
	color:#5555FF;
}
#friends {
	padding-bottom: 5px;
}